server:
  port: 8080

spring:
  application:
    name: intent-service
  profiles:
    active: ${IntentServiceApplicationProfile}
  webflux:
    base-path: /intent-service
  r2dbc:
    url: ${DATABASE_HOST}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}

redis:
  host: ${REDIS_HOST}
  port: ${REDIS_PORT}
  database: ${REDIS_DATABASE}
  timeout: ${REDIS_TIMEOUT}
  cache:
    create-intent:
      ttl: ${REDIS_CACHE_CREATE_INTENT_TTL}

logging:
  level:
    root: INFO

lock:
  intent-status:
    ttl: ${LOCK_INTENT_STATUS_TTL}
    max-wait: ${LOCK_INTENT_STATUS_MAX_WAIT}
    retry:
      max-attempts: ${LOCK_INTENT_STATUS_MAX_ATTEMPTS}
      min-backoff: ${LOCK_INTENT_STATUS_MIN_BACKOFF}
      max-backoff: ${LOCK_INTENT_STATUS_MAX_BACKOFF}

---
spring:
  config:
    activate:
      on-profile: test
logging:
  level:
    org.springframework.r2dbc: DEBUG
    io.r2dbc.postgresql: DEBUG
